@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "BR Firma", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @media (max-width: 1023px) {
    overflow-x: hidden;
  }
}

.button {
  padding: 11px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  font-size: 15px;
}
.swiper .swiper-pagination {
  transform: translateY(-9rem);
}

.swiper .swiper-pagination-bullet {
  background-color: #fc8900;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
